*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Playfair Display', serif;
  width: 100%;
    margin: 0 auto;
  }
/*Landing page style*/
header{
  background-color: #5E1D31;
  }
header nav{
  width:70%;
  margin: 0 auto;
}
header nav h2{
  display: inline-block;
  font-size: 20px;
  color: #9F8C52;
  padding: 15px;
  font-weight: bold;
}
header nav ul{
  display: inline-block;
  float: right;
  margin-top: 17px;
}
header nav li{
  display: inline-block;
  padding-left: 40px;
    padding-top: 18px;
}
header nav a {
    color: #9F8C52;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
header nav a:hover{
  text-decoration: none;  
}
header .glyphicon {
    font-size: 75px;
    color: #9F8C52;
}
header h1{
  text-transform: uppercase;
  display: inline-block;
  padding-right: 85px;
  line-height: 50px;
    font-weight: bold;
    color: #9F8C52;
}
header img{
  width: 25%;
}
header div{
  text-align: center;
  margin: 40px;
}
span.glyphicon.glyphicon-option-horizontal {
    text-align: center;
    width: 100%;
    font-size: 70px;
    color: ;
}
.main div .col-md-4 {
    text-align: center;
    padding: 24px;
}
.main .container-fliud{
  width: 70%;
}
#first-image img{ 
  width: 70%;
}
#second-image img{
    width: 70%;
}
#third-image img{
  width: 70%;
    /*padding-top: 12px;*/
}
div .main .col-md-4 img{
  width:30%;
}
div .col-md-4 {
  text-align: center;
}
div .col-md-4 h5{
  font-weight: bold;
  text-transform: uppercase;
}
.container-fluid .row{
  margin-top: 20px;
  padding: 40px;
  width: 80%;
    margin: 0 auto; 
}

/*Meet The ladies*/
h1{
  line-height: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.meetthecast p{
  width: 35%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: white;
}
.meetthecast nav{
  padding-top: 10px;
    margin-top: 30px;
}
.meetthecast ul {
    margin-top: 0;
    margin-bottom: 10px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.meetthecast li{
  display: inline-block;
  padding: 2%;
}
.meetthecast a{
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}
.meetthecast a:hover {
  padding: 10px 15px;
  text-decoration: none;
  color: green;
  text-transform: uppercase;
}
.meetthecast button{
    padding: 5px;
  border: none;
    background-color: transparent; 
    border-radius: 8px;
}
.meetthecast button:hover{
  border: white;
    background-color: white; 
    border-radius: 8px;
}
.meetthecast .col-md-4 img {
    width: 70%;
}
div#show-more {
    text-align: center;
    margin-top: 30px;
}
div#show-more button{
    padding: 12px;
    color: black;
    border: white;
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
}
section.meetthecast{
    background-color: black;
    padding: 30px;
    padding-bottom: 6%;
}